.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header-top-left header-top-right";
}

.header-top-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "login Cart Language Search";
  grid-area: header-top-left;
}

.login {
  grid-area: login;
}

.Cart {
  grid-area: Cart;
}

.Language {
  grid-area: Language;
}

.Search {
  grid-area: Search;
}

.header-top-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contact email hours";
  grid-area: header-top-right;
}

.contact {
  grid-area: contact;
}

.email {
  grid-area: email;
}

.hours {
  grid-area: hours;
}
